{% extends "_base/docstring/returns.html.jinja" %}

{% block table_style scoped %}
  {#- Block for the `table` section style. -#}
  {% set name_column = section.value|selectattr("name")|any %}
  <p><span class="doc-section-title">{{ section.title or lang.t("Returns:") }}</span></p>
  <table>
    <thead>
      <tr>
        {% if name_column %}<th>{{ lang.t("Name") }}</th>{% endif %}
        <th width="230">{{ lang.t("Type") }}</th>
        <th>{{ lang.t("Description") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for returns in section.value %}
        <tr class="doc-section-item">
          {% if name_column %}<td>{% if returns.name %}<code>{{ returns.name }}</code>{% endif %}</td>{% endif %}
          <td>
            {% if returns.annotation %}
              {% with expression = returns.annotation %}
                <code>{% include "expression"|get_template with context %}</code>
              {% endwith %}
            {% endif %}
          </td>
          <td>
            <div class="doc-md-description">
              {{ returns.description|convert_markdown(heading_level, html_id, autoref_hook=autoref_hook) }}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table_style %}