label {
  margin-bottom: 0px;
}

html .md-nav__link[for=__toc]~.ad {
  display: none;
}

.md-search__icon[for=__search] {
  top: .4rem;
  left: .5rem;
}

.md-typeset table:not([class]) {
  background: #f7f7f7;
  border: none !important;
  border-radius: 3px !important;
}

.md-search {
  padding: 0.05rem !important;
}

.md-content__button.md-icon {
  display: none;
}

.md-sidebar__inner .md-nav__source {
  display: none;
}

.md-typeset {
  line-height: 1.5;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
  width: 1.1rem;
  height: 1.1rem;
}

.md-nav__item a,
.md-search-result__link {
  text-decoration: none !important;
}

.md-footer-nav {
  background: #f7f7f7;
}

a.md-source {
  text-decoration: unset !important;
}

.md-nav__link--active,
.md-nav__link:active,
.md-footer-nav__link,
.md-footer-nav__direction,
.md-nav__item .md-nav__link--active {
  color: #000;
  text-decoration: none !important;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__item--active>.md-nav__link {
      color: #000;
  }
}

.md-typeset h1 {
  color: #000;
}

.md-typeset table:not([class]) {
  box-shadow: none !important;
}

.md-nav__item--active>.md-nav__link {
  font-weight: bold;
}

a:hover,
.md-nav__link:hover,
.md-nav__link:active,
.md-nav__link:focus {
  color: rgba(77, 77, 77, .9) !important;
}

.md-header {
  background-color: #ffeb68 !important;
  box-shadow: none !important;
  color: #333;
}

.md-footer-meta {
  display: none;
}

.md-typeset pre {
  background-color: #85e0bd;
  padding: 2em 28px;
  box-sizing: border-box;
  border-radius: 3px;
}

.md-typeset pre code {
  background-color: #85e0bd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'CircularBold';
}

.md-typeset a {
  color: #000 !important;
  text-decoration: underline;
}

.md-typeset code {
  background-color: #f7f7f7;
  margin: 0px;
  box-shadow: none;
}

.md-typeset table:not([class]) th {
  min-width: auto;
  background-color: #f7f7f7 !important;
  color: #000 !important;
  vertical-align: top;
}

.md-content__icon {
  display: none;
}

/* .md-nav--primary .md-nav__list {
  padding-bottom: 10rem;
} */

/* .md-nav--primary {
  padding-bottom: 9rem;
} */

.md-source::after {
  content: none;
}

.md-header__topic:first-child {
  font-weight: normal !important;
}

.md-typeset .admonition, .md-typeset details {
  --md-admonition-bg-color: #f7f7f7;
  border: none !important;
  box-shadow: none !important;
  border-radius: 3px !important;
}

.md-typeset .admonition-title, .md-typeset summary {
  background: none !important;
}

.md-typeset .admonition-title:before, .md-typeset summary:before {
  background-color: var(--md-admonition-fg-color) !important;
}

.md-clipboard:hover, .md-clipboard:focus {
  color: var(--md-admonition-fg-color) !important;
}

.md-typeset .headerlink {
  text-decoration: none;
  color: var(--md-default-fg-color--light) !important;
}

.md-typeset .headerlink:hover, .md-typeset .headerlink:focus {
  color: var(--md-default-fg-color) !important;
}

.mobile-display{display:none}
.desktop-display{display:block}

@media (max-width:750px){
  .desktop-display {display:none}
  .mobile-display {display:block}
}
